#header h1 {
    background : #fafafa;
    font-family : "Tahoma", Verdana, Arial, sans-serif;
    font-size : 3em;
    color : #585858;
    font-weight : normal;
    padding : 0;
    margin : 0;
}
#header .slogan {
    color : #868686;
    margin : 0;
    padding : 0;
    background : #fafafa;
    font : bold 1em "Tahoma", Verdana, Arial, sans-serif;
    padding-left : 2px;
}
.bigl {
    font-size : 1.2em;
}
.date {
    color : #aaa;
    font-weight : bold;
    background : transparent;
}
#header {
    margin : 0;
    padding : 0;
    width : 100%;
    background : inherit;
    color : #585858;
    height : 66px;
}
#header .topong {
    background : #fafafa;
    height : 66px;
    width : 159px;
    float : right;
}
#header .topong .pad {
    padding : 15px 5px 0 30px;
}
#header .topong .txt {
    padding : 0;
    color : #a5a5a5;
}
#maincontent {
    background : #fafafa;
}
#maincontent h2 {
    font : bold 1.6em "Tahoma", verdana, Arial;
    color : #585858;
    background : transparent;
    margin-bottom : 4px;
    border-bottom : 1px solid #e3eaef;
}
#maincontent .readm {
    color : #36be00;
    font-weight : bold;
    background : inherit;
}
#maincontent img {
    float : left;
    margin : 10px 10px 10px 0;
}
.green {
    color : #36be00;
}
#footer {
    bottom : 0;
    clear : both;
    text-align : left;
    border-top : 2px solid #e5e5e5;
    padding : 3px 0 0 0;
    margin-top : 5px;
    height : 50px;
    color : #888;
    background : inherit;
}
#footer .right {
    float : right;
}
.showhide{ 
	display:none;
}
.ratingContainer{
    width: 100px;
    height: 30px;
    color: #fff;
    background-color: #151515;
    border-radius: 5px;
    margin: 5px;
    padding: 5px 10px 10px;
}
ul.rate {
    list-style: none;
    margin: 0;
    padding: 0;
}
ul.rate li {
    float: left;
    width: 16px;
    height: 15px;
    margin-right: 2px;
    list-style-type:none; 
    background:url('js/directives/jquery.ui.stars.gif')
}
ul.rate li.selected {
    background-position:0 -48px;
}
ul.rate li.hovered {
    background-position:0 -64px;
}